<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.afinal">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/tthicon"
        android:label="Dextrix-TTH"
        android:roundIcon="@mipmap/tthicon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Final"
        tools:targetApi="31">
        <activity
            android:name=".clue8"
            android:exported="false" />
        <activity
            android:name=".clue7"
            android:exported="false" />
        <activity
            android:name=".Clue6"
            android:exported="false" />
        <activity
            android:name=".clue5"
            android:exported="false" />
        <activity
            android:name=".clue4"
            android:exported="false" />
        <activity
            android:name=".Clue3"
            android:exported="false" />
        <activity
            android:name=".Clue2"
            android:exported="false" />
        <activity
            android:name=".Clue1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>